export APPLE_SIGNING_IDENTITY="Developer ID Application: Illegal Studio Srls (JS4DNJ7PVY)"
export APPLE_ID="vincenzo.petrucci@gmail.com"
export APPLE_PASSWORD="your-app-specific-password"
export APPLE_TEAM_ID="JS4DNJ7PVY"
